discord.py>=2.4.0
python-dotenv>=1.0.1
fastapi>=0.100.0
uvicorn>=0.22.0
aiohttp>=3.9.0
Pillow>=10.0.0
wavelink==3.4.0
google-genai
openai
aiofiles
yt-dlp
PyNaCl
davey
spotipy
wavelink>=3.0.0
static-ffmpeg
ffmpeg
